@keyframes slide {
    0%{
        left: 0;
        top: 0;
    }
    50%{
        left: 50%;
        top: 100%;
    }
    100%{
        left:90%;
        top:0;
    }
}
.stage {
  height: 150px;
  position: relative;
}
.ball {
    height: 50px;
    position: absolute;
    width: 50px;
}
.stage:hover .ball {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
}
.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}